In [2]:
# import Libraries

import pandas as pd
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy 
from sqlalchemy_utils import create_database,database_exists
from sqlalchemy import create_engine
from urllib.parse import quote_plus


%matplotlib inline

<h1> Collecte des données </h1>

In [1]:
# fetch all nasdaq stock 
fmp_api_key = "d3adc0ad134894b7b1bf044e468e5c69"
# Gh&c&hnz3GJfNfxbRe


def get_nasdaq_constituent(api_key):
    # Make a GET request to fetch nasdaq constituent data
    nasdaq_constituent = requests.get(f"https://financialmodelingprep.com/api/v3/nasdaq_constituent?apikey={api_key}")
    df = pd.DataFrame(nasdaq_constituent.json())

    return df 


def save_nasdaq_constituent_to_database(nasdaq_constituent):
    # Convert nasdaq_constituent to DataFrame
    df = get_nasdaq_constituent(fmp_api_key)
    
    # Set up database connection
    password = quote_plus("sqn!B@U9kWS5Kh^f!S")
    engine = create_engine(f"postgresql://postgres:{password}@db.nzajymgnizugrvymblsm.supabase.co:5432/postgres")
    
    # Save DataFrame to database
    df.to_sql("nasdaq_constituent", engine, if_exists='replace',index=False)
    
    # Return 'updated' when finished
    return 'nasdaq_constituent updated'

In [16]:
nasdaq = get_nasdaq_constituent(fmp_api_key)
nasdaq

,symbol,name,sector,subSector,headQuarter,dateFirstAdded,cik,founded
0,AAPL,Apple Inc.,Technology,Technology,"Cupertino, CA",None,0000320193,1976-04-01
1,ABNB,Airbnb,Consumer Cyclical,Consumer Cyclical,"San Francisco, CA",None,0001559720,2008-08-01
2,ADBE,Adobe Inc.,Technology,Technology,"San Jose, CA",None,0000796343,1982-12-01
3,ADI,Analog Devices,Technology,Technology,"Wilmington, MA",None,0000006281,1965-01-01
4,ADP,ADP,Industrials,Industrials,"Roseland, NJ",None,0000008670,1949-01-01
...,...,...,...,...,...,...,...,...
96,WBD,Warner Bros. Discovery,Communication Services,Communication Services,"New York, NY",None,0001437107,2022-04-08
97,WDAY,"Workday, Inc.",Technology,Technology,"Pleasanton, CA",None,0001327811,2005-03-01
98,XEL,Xcel Energy,Utilities,Utilities,"Minneapolis, MN",None,0000072903,1909-06-17
99,ZM,Zoom Video Communications,Technology,Technology,"San Jose, CA",None,0001585521,2011-04-21
100,ZS,Zscaler,Technology,Technology,"San Jose, CA",None,0001713683,2007-01-01

In [3]:
stock = 'AAPL'
request = requests.get(url=f"https://financialmodelingprep.com/api/v3/historical-chart/1day/{stock}?apikey={fmp_api_key}")
response = request.json()
df = pd.json_normalize(response)
df

,date,open,low,high,close,volume
0,2023-12-29 00:00:00,193.90000,191.72500,194.40000,192.53000,42263609
1,2023-12-28 00:00:00,194.14000,193.17000,194.66000,193.58000,34049898
2,2023-12-27 00:00:00,192.49000,191.09000,193.50000,193.15000,48087681
3,2023-12-26 00:00:00,193.61000,192.83000,193.89000,193.05000,28919310
4,2023-12-22 00:00:00,195.18000,192.97000,195.41000,193.60000,37149570
...,...,...,...,...,...,...
10069,1984-01-18 00:00:00,0.12779,0.12556,0.13058,0.12835,220505600
10070,1984-01-17 00:00:00,0.12444,0.12444,0.12835,0.12779,149072000
10071,1984-01-16 00:00:00,0.12165,0.12109,0.12612,0.12444,137580800
10072,1984-01-13 00:00:00,0.12444,0.11942,0.12612,0.12165,121744000
10073,1984-01-12 00:00:00,0.12500,0.12333,0.12667,0.12444,110342400

In [5]:
# historical price 
def getstockpricehistory(stock):
    request = requests.get(url=f"https://financialmodelingprep.com/api/v3/historical-chart/1day/{stock}?apikey={fmp_api_key}")
    response = request.json()
    df = pd.json_normalize(response)

    # Drop duplicates
    df = df.drop_duplicates(subset='date')

    # Convert the 'Date' column to datetime
    df['date'] = pd.to_datetime(df['date'])
    
    # Fill in missing dates with the value of the previous date
    df = df.set_index('date').asfreq('D', method='bfill').reset_index()
    
    # Change the date format to DD/MM/YYYY
    df['date'] = df['date'].dt.strftime('%d/%m/%Y')
    
    return df


def saveStockPriceHistory(stock):

    # get stock price history 
    df = getstockpricehistory(stock)

    # Set up database connection
    password = quote_plus("Gh&c&hnz3GJfNfxbRe")
    engine = create_engine(f"postgresql://postgres:{password}@db.hmpdqidqpayqcernvdaq.supabase.co:5432/postgres")

    # Save DataFrame to database
    df.to_sql(stock, engine, if_exists='replace',index=False)
    
    return f'{stock} price history updated'

# loop over each stock in nasdaq_constituent and save it to db 
def updateStockPricesHistory():
    nasdaq_constituent = get_nasdaq_constituent(fmp_api_key)
    
    for stock in nasdaq_constituent['symbol']:
        print(stock)
        saveStockPriceHistory(stock)
    
    return 'stocks prices history updated'

In [18]:
df = getstockpricehistory("AMD")
df

             date      open       low      high    close    volume
0      12/01/1984   17.8125   17.6875   18.6250   18.375   1699400
1      13/01/1984   18.7500   18.0000   18.7500   18.000   1534800
2      14/01/1984   18.7500   18.0000   18.7500   18.000   1534800
3      15/01/1984   18.7500   18.0000   18.7500   18.000   1534800
4      16/01/1984   18.0625   17.8750   18.5625   18.000    349800
...           ...       ...       ...       ...      ...       ...
14592  25/12/2023  140.4800  138.3100  140.7000  139.600  35156582
14593  26/12/2023  140.0700  139.9200  143.8500  143.410  47157430
14594  27/12/2023  144.7200  143.1800  146.2500  146.070  49033420
14595  28/12/2023  146.8000  145.9506  150.4100  148.760  63800680
14596  29/12/2023  149.5000  147.2000  151.0500  147.410  61749122

[14597 rows x 6 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14597 entries, 0 to 14596
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    14597 non-null  object
 1   open    14597 non-null  float64
 2   low     14597 non-null  float64
 3   high    14597 non-null  float64
 4   close   14597 non-null  float64
 5   volume  14597 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 684.4+ KB

In [19]:
updateStockPricesHistory()

AAPL
ABNB
ADBE
ADI
ADP
ADSK
AEP
ALGN
AMAT
AMD
AMGN
AMZN
ANSS
ASML
AVGO
AZN
BIIB
BKNG
BKR
CDNS
CEG
CHTR
CMCSA
COST
CPRT
CRWD
CSCO
CSGP
CSX
CTAS
CTSH
DDOG
DLTR
DXCM
EA
EBAY
ENPH
EXC
FANG
FAST
FTNT
GEHC
GFS
GILD
GOOG
GOOGL
HON
IDXX
ILMN
INTC
INTU
ISRG
JD
KDP
KHC
KLAC
LCID
LRCX
LULU
MAR
MCHP
MDLZ
MELI
META
MNST
MRNA
MRVL
MSFT
MU
NFLX
NVDA
NXPI
ODFL
ON
ORLY
PANW
PAYX
PCAR
PDD
PEP
PYPL
QCOM
REGN
ROST
SBUX
SGEN
SIRI
SNPS
TEAM
TMUS
TSLA
TTD
TXN
VRSK
VRTX
WBA
WBD
WDAY
XEL
ZM
ZS

'stocks prices history updated'